[kernel-options]
	config = cfg/smp.scc
	config = cfg/8250.scc
	config = cfg/usb-mass-storage.scc
	config = cfg/x32.scc
	config = cfg/timer/hz_250.scc
	config = cfg/timer/rtc.scc
	config = cfg/timer/hz_1000.scc
	config = cfg/timer/no_hz.scc
	config = cfg/timer/hpet.scc
	config = cfg/timer/hz_100.scc
	config = cfg/efi-ext.scc
	config = cfg/boot-live.scc
	config = cfg/vesafb.scc
	config = cfg/net/ip6_nf.scc
	config = cfg/net/ipsec.scc
	config = cfg/net/ipv6.scc
	config = cfg/net/ipsec6.scc
	config = cfg/net/bridge.scc
	config = cfg/net/ip_nf.scc
	config = cfg/dmaengine.scc
	config = cfg/sound.scc
	config = cfg/fs/ext4.scc
	config = cfg/fs/btrfs.scc
	config = cfg/fs/flash_fs.scc
	config = cfg/fs/ext3.scc
	config = cfg/fs/vfat.scc
	config = cfg/fs/devtmpfs.scc
	config = cfg/fs/debugfs.scc
	config = cfg/fs/ext2.scc
	config = cfg/virtio.scc
	config = cfg/paravirt_kvm.scc
	config = cfg/efi.scc
	feature = features/spi/spidev.scc
	feature = features/spi/spi.scc
	feature = features/kgdb/kgdb.scc
	feature = features/inline/inline.scc
	feature = features/crypto/crypto.scc
	feature = features/media/media-i2c.scc
	feature = features/media/media-usb-webcams.scc
	feature = features/media/media-platform.scc
	feature = features/media/media-dvb-frontends.scc
	feature = features/media/media-tuners.scc
	feature = features/media/media-radio.scc
	feature = features/media/media.scc
	feature = features/media/media-rc.scc
	feature = features/media/media-usb-tv.scc
	feature = features/media/media-pci-capture.scc
	feature = features/pci-iov/pci-iov.scc
	feature = features/amt/mei/mei.scc
	feature = features/iwlwifi/iwlwifi.scc
	feature = features/edac/edac.scc
	feature = features/ipmi/ipmi.scc
	feature = features/fuse/fuse.scc
	feature = features/systemtap/systemtap.scc
	feature = features/pci/pci.scc
	feature = features/usb-net/usb-net.scc
	feature = features/namespaces/namespaces.scc
	feature = features/eg20t/eg20t.scc
	feature = features/i915/i915.scc
	feature = features/taskstats/taskstats.scc
	feature = features/cgroups/cgroups.scc
	feature = features/firmware/firmware.scc
	feature = features/igb/igb.scc
	feature = features/hrt/hrt.scc
	feature-optional = features/uprobe/uprobe-enable.scc
	feature = features/uprobe/uprobe.scc
	feature = features/latencytop/latencytop.scc
	feature = features/power/intel.scc
	feature = features/ramconsole/ramconsole.scc
	feature-optional = features/intel-dpdk/intel-dpdk.scc
	feature = features/hugetlb/hugetlb.scc
	feature-optional = features/nfsd/nfsd-enable.scc
	feature = features/uio/uio.scc
	feature = features/i2c/i2cdev.scc
	feature = features/i2c/i2c.scc
	feature = features/i2c/i2cdbg.scc
	feature = features/netfilter/netfilter.scc
	feature = features/scsi/cdrom.scc
	feature = features/scsi/disk.scc
	feature = features/scsi/scsi.scc
	feature-optional = features/lxc/lxc-enable.scc
	feature = features/kprobes/kprobes.scc
	feature = features/ciphers/ciphers.scc
	feature = features/dca/dca.scc
	feature-optional = features/kvm/qemu-kvm-enable.scc
	feature = features/mac80211/mac80211.scc
	feature = features/blktrace/blktrace.scc
	feature = features/serial/8250.scc
	feature = features/ftrace/ftrace.scc
	feature = features/ftrace/ftrace-function-tracer-disable.scc
	feature = features/powertop/powertop.scc
	feature = features/usb/touchscreen-composite.scc
	feature = features/usb/usb-gadgets.scc
	feature = features/usb/xhci-hcd.scc
	feature = features/usb/ehci-hcd.scc
	feature = features/usb/usb-base.scc
	feature = features/usb/uhci-hcd.scc
	feature = features/usb/ohci-hcd.scc
	feature = features/input/input.scc
	feature = features/input/touchscreen.scc
	feature = features/profiling/profiling.scc
	feature = features/leds/leds.scc
	feature = features/intel-e1xxxx/intel-e100.scc
	feature-optional = features/kmemcheck/kmemcheck-enable.scc
	feature = features/iwlegacy/iwlegacy.scc
